$alt-gray: #1abf1a;
$background-dark: #512da8;
$background-light: #9575fd;
$background-pale: #d1c4e9;

html {
  scroll-behavior: smooth;
}
$modalheadertext: floralwhite;


// Height variables
$carousel-item-height: 18.75rem;



@mixin zero-margin($pad-up-dn, $pad-left-right) {
  margin: 0.06rem auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  @include zero-margin(0.06rem, 0.06rem);
}

.row-content {
  @include zero-margin(3.125rem, 0px);
  border-bottom: 0.06rem ridge;
  min-height: 25rem;
}

.footer {
  background-color: $background-pale;
  @include zero-margin(1.25rem, 0.06rem);
}

.jumbotron {
  @include zero-margin(70px, 30px);
  background: $background-light;
  color: floralwhite;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

body {
  padding: 3.125rem 0.06rem 0.06rem 0.006rem;
  z-index: 0;
}

.navbar-dark {
  background-color: $background-dark;
}

.tab-content {
  border-left: 0.063rem solid $alt-gray;
  border-right: 0.063rem solid $alt-gray;
  border-bottom: 0.063rem solid $alt-gray;
  padding: 10px;
}

.carousel {
  background: $background-dark;

  .carousel-item {
    height: $carousel-item-height;

    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 18.75rem;
    }
  }
}

#carouselButton {
  right: 2%;
  position: absolute;
  bottom: 0rem;
  z-index: 1;
}

.modal-header {
  background-color: $background-dark;
  color: $modalheadertext;

  .close {
    color: $modalheadertext;
  }
}

.modal-body {
  background-color: $background-pale;
}

.modal-footer {
  background-color: $background-pale;
  border-top-width: 0.01rem;
}
